.todo-container {
	width: 600px;
	margin-inline: auto;
}

.todo-input {
	font-size: 1.2rem;
	width: 100%;
	padding: 0.8rem 1rem;
	margin-bottom: 1rem;
}

.todo-item {
	background-color: #efefef;
	border: 1px solid #efefef;
	padding: 0.8rem 1rem;
	margin-bottom: 0.5rem;
	/* text-align: right; */
}

.todo-item [data-completed='true'] {
	text-decoration: line-through;
	color: #999;
}

.todo-item button {
	float: right;
}
